.mi-seccion {
    background-color: #eaeaea;
    padding: 20px;
    border: 1px solid #ccc;
}

.mi-seccion1 {
    background-color: #eaeaea;
    padding: 20px;
    border: 1px solid #eae9e9;
}

.card {
    border: 1px solid #222222;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    width: 555px;
    height: 330px; /* Añadimos posición relativa para elementos hijos absolutos */
}

.progress {
    height: 30px;
    width: 100%;
    border: 1px solid #428bca;
    border-radius: 5px;
    background-color: #e6f3fa;
    margin-bottom: 15px;
}

.progress-bar {
    height: 100%;
    background: #0680ea;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
}

.progress-bar-text {
    margin-left: 10px;
    font-weight: bold;
    color: #cce7f5;
}